*{
    font-size:10px;
    -webkit-user-select:none;
}

#social{
    position: absolute;
    text-align: right;
    top:-30px;
    right:0px;
}
.social{
    float: left;
}

table{
    displey: block;
    position: absolute;
    margin: 5px;
    padding: 0px;
    top: 40px;
    left: 0px;
    width: 960px;
    height: 290px;
}

#indicator{
    display: none;
    position: absolute;
    float: left;
    width: 24px;
    height: 259px;
    top: 47px;
    left: 70px;

    background-color: #dff;
    border: 1px solid #dFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    box-shadow: 0px 0px 5px #0FF;
}

tr{
  display:block;
  margin:0px;
  padding:0px;
  min-width: 700px;
  min-height: 20px;
  height:26px;
  width: 910px;
}
th{
  display: block;
  float: left; 
  margin: 0px;
  padding: 0px;
  width: 60px;
  height: 23px;
  min-width: 18px;
  min-height:18px;
  line-height: 20px;
  font-size: 10px;
  font-weight:100;
  color:#888;
  text-shadow: 0px 0px 3px #EEE;

  border: 1px solid #DDD;
  background:-moz-linear-gradient(
      top,
      rgb(255,255,255)0,
      rgb(245,245,245)50,
      rgb(230,230,230)50,
      rgb(238,238,238)100%
  );
  background:-webkit-gradient(
      linear, left top, left bottom,
      color-stop(0,  rgb(255,255,255)),
      color-stop(0.5,rgb(245,245,245)),
      color-stop(0.5,rgb(238,238,238)),
      color-stop(1.0,rgb(240,240,240))
  );
}

th:hover{
    -webkit-opacity:0.65;
    opacity:0.65;
    box-shadow:0px 1px 3px rgb(210,210,210);
}

th:active{
    -webkit-opacity:1.0;
    opacity:1.0;
    box-shadow:0px 30px 0px rgba(200,200,200, 0.3) inset;
    color:#fff;
}

td{
  display: block;
  float: left;
  font-size: 0px;
  margin: 2px;
  padding: 0px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}

.on{
    background:-moz-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -moz-linear-gradient(
        rgba(128,160,255,0.5),
        rgba(128,160,255,1)
    );
    background:-webkit-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -webkit-gradient(
        linear,
        100% 0%,
        100% 100%,
        from(rgba(128,192,255,0.5)),
        to(rgba(128,192,255,1))
    );
    
    border:1px solid #9ff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    box-shadow:1px 1px 2px rgba(0,0,0,0.3),
               0px 1px 0px rgba(255,255,255,0.8) inset,
               0px -1px 0px rgba(255,255,255,0.3) inset;
}

.off{
    background:-moz-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -moz-linear-gradient(
        rgba(230,230,230,0.5),
        rgba(230,230,230,1)
    );
    background:-webkit-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -webkit-gradient(
        linear,
        100% 0%,
        100% 100%,
        from(rgba(230,230,230,0.5)),
        to(rgba(230,230,230,1))
    );

    border:1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    box-shadow:1px 1px 2px rgba(0,0,0,0.3),
    0px 1px 0px rgba(255,255,255,0.8) inset,
    0px -1px 0px rgba(255,255,255,0.3) inset;
}

td:hover{
    box-shadow:0px 0px 5px rgb(0,255,255);
}

#wrapper{
    position: absolute;
    display: block;    

    width: 910px;
    height: 590px;

    margin: 0px;
    padding: 0px;

    margin-left: -470px;
    margin-top: -300px;

    left: 50%;
    top: 50%;

    background-color: #fff;
    border: 1px solid #0df;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

#control{
    position: absolute;
    margin:0px;
    padding: 10px 30px;
    top: -1px;
    left: -1px;
    width: 850px;
    height: 20px;
    color: #0df;

    background-color: #fff;
    border: 1px solid #adf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#instruments{
    margin: 0px;
    padding: 0px;
    top: 300px;
    width:960px;
    height: 340px;
}

.instrument{
    position: absolute;
    top:300px;
    left:0px;
    width: 960px;
    height:300px;
}

.RS_module{
    color: #0df;
    background-color: #fff;
    margin: 10px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    line-height: 26px;
    
    border: 1px solid #0df;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

legend{
    font-size:12px;
}

.clearfix :after{
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}

.RS_vco0{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 140px;
}
.RS_vco1{
    position: absolute;
    top: 0px;
    left: 140px;
    width: 130px;
    height: 140px;
}
.RS_vco2{
    display: none;
}
.RS_mixer{
    position: absolute;
    top:140px;
    left:0px;
    width:270px;
    height: 130px;
}
.RS_filter{
   position: absolute;
    top:0px;
    left:510px;
    width:150px;
    height: 270px;
}
.RS_EG{
    position: absolute;
    top:0px;
    left:280px;
    width:220px;
    height: 270px;
}
.RS_EG  canvas{
    margin:10px;
    padding-top:20px;
    width: 180px;
    height: 50px;
    border-left:1px solid #0df;
    border-bottom: 1px solid #0df;
}
.RS_FEG{
    position: absolute;
    top:0px;
    left:670px;
    width:220px;
    height: 270px;
}
.RS_FEG  canvas{
    margin:10px;
    padding-top:20px;
    width: 180px;
    height: 50px;
    border-left:1px solid #0df;
    border-bottom: 1px solid #0df;
}

.RS_filter_freq{
    float: left;
    text-align: center;
    left: 0px;
    margin:0 5%;
    width:40%;
}
.RS_filter_Q{
    float: left;
    text-align: center;
    top: 0px;
    width:50%;
    margin: 0;
}

.filter_slider{
    width: 200px;
    margin-top: 140px;
    -webkit-transform-origin: 22% 100%;
    -webkit-transform: rotate(270deg);
    /*translate(0px, 20px),*/
}