/* Tracks Canvas styles */

.wrapper {
  position: absolute;
  width: 100%;
  height: 242px;
  top: 0px;
  left: 0px;
  margin-bottom: 160px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wrapperSub {
  position: absolute;
  width: 100%;
  height: 242px;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapperSub::-webkit-scrollbar {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.canvas,
.canvasOn,
.canvasHover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 560px;
  height: 240px;
}
