* {
  color: #aaa;
  font-size: 30px;
  font-family: sans-serif;
  font-size: 30px;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 240px;
  margin-top: -170px;
  margin-left: -120px;
}
img {
  border: none;
  width: 240px;
  height: 240px;
  opacity: 0.5;
}
#sorry {
  position: absolute;
  width: 400px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-left: -200px;
  text-align: center;
}
a:hover {
  color: #0df;
  border-bottom: 2px solid #0df;
}
