* {
  color: #aaa;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  -webkit-transition: all 0.5s ease;
  overflow-x: hidden;
}

#wrapper {
}

#debug {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 20px;
  font-size: 16px;
  color: red;
}

#top {
  display: block;
  width: 100%;
  height: 480px;
}
#logo {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  -webkit-transition: all 1s ease;

  opacity: 0.1;
}

#copy {
  position: absolute;
  width: 200px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin: 20px 0px 0px -96px;
  text-align: center;
  font-size: 24px;
}

p {
  font-size: 16px;
}

#div1,
#div2,
#div3,
#div4,
footer {
  position: relative;
  width: 100%;
  min-height: 480px;
}
#div1 *,
#div2 *,
#div4 * {
  padding: 10px 5px;
  color: #fafafa;
}
#div1 h2,
#div2 h2,
#div3 h2,
#div4 h2 {
  padding: 20px 5px;
}
#div1 {
  /* background: #0df; */
  background: rgba(0, 220, 250, 0.8);
  height: 100%;
}
#div2 {
  /* background: #f0d; */
  background: rgba(250, 0, 220, 0.8);
  height: 100%;
}
#div3 {
  /* background: #df0; */
  background: rgba(220, 250, 0, 0.8);
  height: 100%;
}
#div3 * {
  padding: 10px 5px;
  color: #999;
}
#div4 {
  /* background: #456; */
  background: rgba(0, 30, 60, 0.5);
  height: 100%;
}

.slide-outer {
  position: absolute;
  top: 130px;
  left: 4%;
  width: 90%;
  padding: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  background: none;
}
.slide-inner {
  width: 200%;
  height: 100%;
  background: none;
}
.slide-inner:after {
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden;
  content: '.';
}
.slide-inner > img {
  display: block;
  float: left;
  width: 45%;
  margin: 2px;
}

#div1 > .list {
  margin: 30px 0px;
  padding: 0px;
  background: none;
}
.list li {
  /* list-style-type: none; */
  margin-left: 35px;
}

footer {
  position: relative;
  display: block;
  width: 100%;
  height: 480px;
  background: #fff;
  z-index: 2;
}
footer > a {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -50px;
  opacity: 1;
  z-index: 2;
}
#vertigo {
  width: 100px;
  height: 100px;
  opacity: 0.8;
}
footer > p {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 50%;
  margin: 20px auto;
  left: 0px;
}
footer > p,
footer a {
  text-align: center;
  font-size: 16px;
  color: #9ef;
}

.in {
  -webkit-animation: in 1s ease 0.3s 1 forwards paused;
  -moz-animation: in 1s ease 0.3s 1 forwards paused;
  -ms-animation: in 1s ease 0.3s 1 forwards paused;
}
.out {
  -webkit-animation: out 1s ease 0s 1 forwards paused;
  -moz-animation: out 1s ease 0s 1 forwards paused;
  -ms-animation: out 1s ease 0s 1 forwards paused;
}

@-webkit-keyframes in {
  0% {
    -webkit-transform: rotateZ(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    opacity: 0.8;
  }
}

@-webkit-keyframes out {
  0% {
    -webkit-transform: rotateZ(0deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    opacity: 0;
  }
}

@-moz-keyframes in {
  0% {
    -moz-transform: rotateZ(-360deg);
    opacity: 0;
  }
  1000% {
    -moz-transform: rotateZ(0deg);
    opacity: 0.8;
  }
}

@-moz-keyframes out {
  0% {
    -moz-transform: rotateZ(0deg);
    opacity: 0.2;
  }
  100% {
    -moz-transform: rotateZ(360deg);
    opacity: 0;
  }
}

@-ms-keyframes in {
  0% {
    -ms-transform: rotateZ(-360deg);
    opacity: 0;
  }
  1000% {
    -ms-transform: rotateZ(0deg);
    opacity: 0.8;
  }
}

@-ms-keyframes out {
  0% {
    -ms-transform: rotateZ(0deg);
    opacity: 0.2;
  }
  100% {
    -ms-transform: rotateZ(360deg);
    opacity: 0;
  }
}
