* {
    font-size:10px;
    -webkit-user-select:none;
}

body {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#social {
    position: absolute;
    text-align: right;
    top:-30px;
    right:0px;
}
.social {
    float: left;
}



/* Wrapper */

#wrapper {
}
#instruments {
    position: absolute;

    /* width: 910px; */
    width: 800000px;
    max-height: 600px;
    margin: 0px;
    padding: 0px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -470px;
    overflow-y: hidden;

    transition: all 0.2s ease 0s;
}
.instrument {
    position: relative;
    display: box;
    float: left;
    
    width: 910px;
    height: 590px;
    margin: 0px;
    padding: 0px;
    margin-right: 130px;

    background-color: #fff;
    border: 1px solid #0df;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#btn-right {
    position: fixed;

    width: 800px;
    min-height: 600px;
    margin: 0px;
    padding: 0px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: 520px;
    opacity: 0.1;
}
#btn-left {
    position: fixed;

    width: 800px;
    min-height: 600px;
    margin: 0px;
    padding: 0px;
    top: 50%;
    right: 50%;
    margin-top: -300px;
    margin-right: 550px;
    opacity: 0.1;
}
    


/* Sequencer */

.sequencer-table {
    display: block;
    position: absolute;
    margin: 5px;
    padding: 0;
    top: 0px;
    left: 62px;
    width: 834px;
    height: 320px;
    overflow: hidden;
}
.table {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    min-width: 8000px;
    height: 320px;
    overflow-y: hidden;
}
.indicator {
    display: none;
    position: absolute;
    float: left;
    width: 24px;
    height: 261px;
    top: 43px;
    
    background-color: #dff;
    border: 1px solid #dFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    box-shadow: 0px 0px 5px #0FF;
}
.table > thead .position{
    width: 810px;
    height: 30px;
    margin: 0px;
    padding: 5px 15px 5px 5px;    
    color: #aaefff;
    font-size: 16px;
    text-align: right;
}
.table > thead .position > span {
    font-size: 16px;
    float: right;
}
.table > thead > tr.header {
  margin:0px;
  padding:0px;
  max-height:40px;
  width: 8000px;
}
tr {
  display:block;
  margin:0px;
  padding:0px;
  /* min-width: 700px; */
  min-width: 8000px;
  min-height: 20px;
  max-height:26px;
  overflow-y: hidden;
  width: 840px;
}
td {
  display: block;
  float: left;
  font-size: 0px;
  margin: 2px 4px 2px 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;

      background:-moz-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -moz-linear-gradient(
        rgba(230,230,230,0.5),
        rgba(230,230,230,1)
    );
    background:-webkit-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -webkit-gradient(
        linear,
        100% 0%,
        100% 100%,
        from(rgba(230,230,230,0.5)),
        to(rgba(230,230,230,1))
    );

    border:1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    box-shadow:1px 1px 2px rgba(0,0,0,0.3),
    0px 1px 0px rgba(255,255,255,0.8) inset,
    0px -1px 0px rgba(255,255,255,0.3) inset;
}
td:hover {
    box-shadow:0px 0px 5px rgb(0,255,255);
}
.on {
    background:-moz-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -moz-linear-gradient(
        rgba(128,160,255,0.5),
        rgba(128,160,255,1)
    );
    background:-webkit-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -webkit-gradient(
        linear,
        100% 0%,
        100% 100%,
        from(rgba(128,192,255,0.5)),
        to(rgba(128,192,255,1))
    );
    
    border:1px solid #9ff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    box-shadow:1px 1px 2px rgba(0,0,0,0.3),
               0px 1px 0px rgba(255,255,255,0.8) inset,
               0px -1px 0px rgba(255,255,255,0.3) inset;
}



/* Controll */

#control {
    position: absolute;
    margin:0px auto;
    padding: 10px 30px;
    top: 50%;
    left: 50%;
    margin-top: 300px;
    margin-left: -480px;
    width: 850px;
    height: 20px;

    font-size: 22px;
    color: #88e0ff;    
    background-color: #fff;
}



.core {
    position: absolute;
    top: 300px;
    left: 0px;
}



/* Synthesizer */

.RS_module {
    color: #0df;
    background-color: #fff;
    margin: 10px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    line-height: 26px;
    
    border: 1px solid #0df;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

legend {
    font-size:12px;
}

.clearfix :after {
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}

.RS_vco0 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 140px;
}
.RS_vco1 {
    position: absolute;
    top: 0px;
    left: 140px;
    width: 130px;
    height: 140px;
}
.RS_vco2 {
    display: none;
}
.RS_mixer {
    position: absolute;
    top:140px;
    left:0px;
    width:270px;
    height: 130px;
}
.RS_filter {
    position: absolute;
    top: 0px;
    left: 510px;
    max-width: 130px;
    height: 270px;
}
.RS_EG {
    position: absolute;
    top:0px;
    left:280px;
    width:220px;
    height: 270px;
}
.RS_EG  canvas {
    margin:10px;
    padding-top:20px;
    width: 180px;
    height: 50px;
    border-left:1px solid #0df;
    border-bottom: 1px solid #0df;
}
.RS_FEG {
    position: absolute;
    top:0px;
    left:670px;
    width:220px;
    height: 270px;
}
.RS_FEG  canvas {
    margin:10px;
    padding-top:20px;
    width: 180px;
    height: 50px;
    border-left:1px solid #0df;
    border-bottom: 1px solid #0df;
}

.RS_filter_freq {
    float: left;
    text-align: center;
    left: 0px;
    margin:0 5%;
    width:40%;
}
.RS_filter_Q {
    float: left;
    text-align: center;
    top: 0px;
    width:50%;
    margin: 0;
}

.filter_slider {
    width: 200px;
    height: 70px;
    margin-top: 13px;
    margin-left: -50px;
    -webkit-transform-origin: 60% 100%;
    -webkit-transform: rotate(270deg);
}


#templates {
    display: none;
}