* {
    font-size:10px;
    -webkit-user-select:none;
    text-shadow: 0px 0px 1px #cde;
}
input, select {
    text-shadow: none;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}



/* top */

#top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10000;
    transition: all 1.3s ease 0s;
}
#top-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -170px;
    margin-left: -170px;
    opacity: 0.2;
    transition: all 0.5s ease 0s;
    overflow: hidden;
}
#top-logo-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 600px;
    transition: all 0.3s ease 0s;
}
#top-logo-wrapper img {
    width: 300px;
    height: 300px;
}
#evil-logo {
    position: absolute;
    top: 0px;
    left: 0px;
}
#chrome-logo {
    position: absolute;
    top: 300px;
    left: 0px;
    border: none;
}
.logo-sorry:hover {
    margin-top: -300px;
}
#top-sorry {
    display: none;
    visibility: none;
    position: absolute;
    width: 400px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: 150px;
    margin-left: -215px;
    text-align: center;
    font-size: 30px;
    color: #ccc;
}
#top-sorry > a {
    text-decoration: none;
    font-size: 30px;
    color: #ccc;
}
#top-sorry > a:hover {
    color: #def;
}



/* Dialog */

#dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.8);
    z-index: -10000;
    opacity: 0;
}
#dialog-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -240px;
    width: 480px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #8df;
    border-radius: 3px;
}
.dialog-message {
    position: absolute;
    width: 400px;
    height: 200px;
    text-align: center;
}
.dialog-icon {
    width: 100px;
    height: 100px;
    font-size: 100px;
    text-align: center;
}
.dialog-message-main {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 36px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    color: #444;
}
.dialog-message-sub {
    display: block;
    width: 100%;
    height: 24px;
    margin-top: 12px;
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    -webkit-user-select: text;
    color: #444;
}
.dialog-message i {
    font-size: 100px;
    width: 100px;
    height: 100px;
}
#dialog-success {
    left: 40px;
}
#dialog-error {
    top: 45px;
    left: 40px;
    color: #ccc;
}
#dialog-success i {
    color: #8f8;
}
#dialog-error i {
    color: #ccc;
    margin-bottom: 20px;
}
#dialog-socials {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    margin-left: -140px;
    width: 280px;
    height: 80px;
}
.dialog-social {
    display: block;
    width: 64px;
    height:: 64px;
    font-size: 64px;
    text-align: center;
    text-decoration: none;
    color: #ddd;
}
.dialog-twitter {
    position: absolute;
    left: 0px;
}
.dialog-twitter:hover {
    color: #0df;
    cursor: pointer;
}
.dialog-facebook {
    position: absolute;
    right: 0px;
}
.dialog-facebook:hover {
    color: #049;
    cursor: pointer;
}
.dialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: #eee;
}
.dialog-close:hover {
    color: #666;
    cursor: pointer;
}



/* top left */

#btn-save {
    position: fixed;
    top: 15px;
    left: 20px;
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: #ccc;
    text-align: center;
    text-shadow: none;
    z-index: 101;
}
#btn-save:hover  {
    cursor: pointer;
    color: #999;
}
#btn-clear {
    position: fixed;
    top: 15px;
    left: 35px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    padding-left:20px;
    color: #ccc;
    text-align: center;
    text-shadow: none;
    z-index: 200;
}
#btn-clear:hover  {
    cursor: pointer;
    color: #999;
}



/* top right */

#social {
    position: fixed;
    top: 15px;
    right: 20px;
    min-width: 100px;
    text-align: right;
    height: 20px;
    z-index: 200;
}
.social {
    float: right;
    height: 20px;
    margin-left: 20px;
    font-size: 18px;
    color: #000;
    text-align: center;
    text-shadow: none;
    opacity: 0.2;
    z-index: 200;
}
.social:hover {
    opacity: 0.6;
    color: #0df;
    cursor: pointer;
}
#hatena {
    width: 18px;
    background-image: url('/static/img/hatebu_18.png');
    background-position: left;
}
#hatena:hover {
    background-position: right;
}




/* ScrollBar */

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;　
    background-color: #8df;
    border-radius: 5px;
}
*::-webkit-scrollbar-button {
    height: 0px;
}
*::-webkit-scrollbar-track {
    width: 10px;
    background-color: #eee;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #8df;
    border-radius: 5px;
}



/* Wrapper */

#wrapper {
    min-width: 100%;
    min-height: 100%;
    overflow: visible;
    transition: all 0.2s ease 0s;
}
#instruments {
    position: absolute;

    width: 800000px;
    max-height: 600px;
    margin: 0px;
    padding: 0px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -470px;
    overflow-y: hidden;

    transition: all 0.2s ease 0s;
}
.instrument {
    position: relative;
    display: block;
    float: left;

    width: 910px;
    height: 590px;
    margin: 0px;
    padding: 0px;
    margin-right: 200px;

    background-color: #fff;
    border: 1px solid #0df;
    border-radius: 3px;
}
.btn {
    text-shadow: none;
}
#btn-right {
    position: fixed;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: 450px;

    text-align: left;
    padding: 250px 25px;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;

    z-index: 100;
}
#btn-left {
    display: none;

    position: fixed;
    width: 800px;
    height: 600px;
    top: 50%;
    right: 50%;
    margin-top: -300px;
    margin-right: 480px;

    text-align: right;
    padding: 250px 25px;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        right top,
        left top,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;

    z-index: 100;
}
#btn-top {
    position: fixed;
    width: 100%;
    height: 600px;
    top: 0px;
    left: -10px;

    text-align: center;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;

    z-index: 100;
}
#btn-bottom {
    display: none;

    position: fixed;
    width: 100%;
    height: 600px;
    left: -10px;
    bottom: 0px;

    text-align: center;
    padding: 0px;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;

    z-index: 100;
}
#btn-right:hover, #btn-left:hover, #btn-top:hover, #btn-bottom:hover {
    cursor: default;
    color: #eee;
}
.btn:hover:after {
    position: absolute;
    text-align: center;
    font-size: 30px;
    white-space: pre;
    font-family: sans-serif;
    color: #e0e0e0;
    content: attr(data-line1) '\A' attr(data-line2);
}
#btn-left:hover:after {
    width: 100px;
    height: 60px;
    top: 180px;
    right: -15px;
}
#btn-right:hover:after {
    width: 100px;
    height: 60px;
    top: 180px;
    left: -5px;
}
#btn-top:hover:after {
    width: 100%;
    height: 30px;
    top: 0px;
    left: 0px;
}
#btn-bottom:hover:after {
    width: 100%;
    height: 30px;
    bottom: 0px;
    left: 0px;
}



/* Mixer */
#mixer {
    position: absolute;
    width: 910px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    top: 50%;
    left: 50%;
    margin-top: -1000px;
    margin-left: -470px;
    overflow: hidden;

    background-color: #fff;
    border: 1px solid #0df;
    border-radius: 3px;

    transition: all 0.2s ease 0s;
}
#mixer-body {
    position: absolute;
    width: 751px;
    height: 491px;
    top: 0px;
    left: 0px;
    margin: 9px 0px 0px 9px;
    overflow-x: hidden;
    overflow-y: auto;
}
#mixer-sidebar {
    position: absolute;
    width: 141px;
    height: 491px;
    top: 0px;
    right: 0px;
    margin: 0px 9px 10px 0px;
    overflow: hidden;
}
#mixer-tracks {
    position: absolute;
    width: 641px;
    height: 484px;
    top: 0px;
    left: 0px;
    margin-bottom: 7px;
    overflow-x: scroll;
    overflow-y: hidden;
}
#mixer-master {
    position: absolute;
    width: 110px;
    height: 482px;
    top: 0px;
    right: 0px;
    margin-bottom: 9px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
}
#session-tracks-wrapper {
    position: absolute;
    width: 100%;
    height: 312px;
    top: 0px;
    left: 0px;
    margin-bottom: 160px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#session-tracks-wrapper-sub {
    position: absolute;
    width: 100%;
    height: 312px;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#session-tracks-wrapper-sub::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
    height: 0px;　
}

#session-master-wrapper {
    position: absolute;
    width: 94px;
    height: 312px;
    top: 0px;
    right: 0px;
    margin: 0px 7px 0px 9px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#session-master, #session-master-on, #session-master-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 310px;
}
#session-tracks, #session-tracks-on, #session-tracks-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 640px;
    height: 310px;
}
#console-tracks {
    position: absolute;
    width: 100%;
    height: 153px;
    bottom: 0px;
    left: 0px;
    border-bottom: 0px;
    overflow: visible;
}
#console-master {
    position: absolute;
    width: 100%;
    height: 161px;
    bottom: 0px;
}
.console-track {
    float: left;
    width: 79px;
    height: 153px;
    margin-bottom: -1px;
    margin-left: -1px;
    border: 1px solid #0df;
    text-align: center;

    color: #0df;
}
#console-tracks > .console-track:first-child {
    margin-left: 0px;
    border-radius: 0px 0px 0px 2px / 0px 0px 0px 2px;
}
#console-master .console-track {
    float: none;
    bottom: 0px;
    right: 0px;
    width: 90px;
    height: 159px;
    margin: 0px 9px;
    border: 1px solid #0df;
    text-align: center;
    background-color: #fff;
    border-radius: 0px 0px 3px 3px / 0px 0px 3px 3px;
}
.pan-slider {
    width: 50px;
    height: 25px;
}
.gain-slider {
    width: 30px;
    height: 100px;
    margin: 10px;
    -webkit-appearance: slider-vertical;
}


#sidebar-wrapper {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
}
.sidebar {
    position: absolute;
    width: 139px;
    height: 489px;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;

    color: #0df;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    line-height: 26px;

    border-radius: 3px;
    border: 1px solid #0df;
}
.sidebar > legend {
    font-size: 12px;
    text-align: center;
    height: 26px;
}
.sidebar > div {
    margin: 10px 0px;
}
.sidebar label {
    font-size: 12px;
    float: left;
    width: 40px;
    padding-right: 5px;
    text-align: right;
}
.sidebar select {
    float: right;
    width: 70px;
    font-size: 10px;
    text-align: left;
    margin-top: 4px;
    margin-right: 12px;
}
.sidebar input {
    float: right;
    width: 65px;
    font-size: 10px;
    text-align: center;
    margin-top: 4px;
    margin-right: 12px;
}



/* Sequencer Header */
.header {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 910px;
    height: 35px;
    border-bottom: 1px solid #0df;
    border-radius: 3px;
}
.synth-type {
    position: absolute;
    top: 0px;
    left: 12px;
    width: 70px;
    height: 16px;
    margin: 10px 5px;
    font-size: 10px;
    color: #0df;
}
.names {
    position: absolute;
    color: #0df;
    font-size: 12px;
    top: 0px;
    left: 100px;
    white-space: nowrap;
}
.names * {
    float: left;
    font-size: 12px;
    height: 16px;
    margin: 9px 0px;  /* total < 36px */
    padding: 0px;
    border: none;
    background: none;
    outline: none;
    color: #0df;
    text-shadow: 0 0 1px #cde;
    text-align: center;
}
.names > span {
    font-size: 9px;
    height: 12px;
    margin: 13px 10px 0px 10px;
}
.names > span:after {
    display: none;
}
.synth-name {
    max-width: 60px;
}
.synth-name:hover {
    text-shadow: 0px 0px 10px #9ef;
}
.synth-name:focus {
    text-shadow: none;
}
.pattern-name{
    max-width: 60px;
}
.pattern-name:hover {
    text-shadow: 0px 0px 10px #9ef;
}
.pattern-name:focus {
    text-shadow: none;
}

.sequencer-mode {
    position: absolute;
    color: #0df;
    font-size: 12px;
    top: 0px;
    left: 310px;
    width: 120px;
    height: 36px;
}
.sequencer-mode > * {
    float: left;
}
.sequencer-mode > span {
    font-size: 12px;
    height: 16px;
    margin: 12px 0px;
    margin-right: 12px;
}
.sequencer-mode > i {
    font-size: 16px;
    height: 16px;
    margin: 10px 6px;
}

.markers {
    position: absolute;
    top: 0px;
    left: 480px;
    width: 400px;
    height: 36px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.markers *{
    float: left;
    width: 10px;
    height: 12px;
    font-size: 12px;
    text-align: center;
    margin: 0px;
    padding: 12px 6px;
    color: #8df;
}
.marker {
    color: #fafafa;
}
.marker-active {
    color: #8df;
}
.marker-active:hover {
    cursor: pointer;
    text-shadow: 0px 0px 4px #088;
}
.marker-now {
    color: #fff;
    text-shadow: 0px 0px 5px #0df;
}
.marker-now:hover {
    cursor: default;
    text-shadow: 0px 0px 10px #0df;
}
.marker-prev, .marker-next {
    padding: 12px;
}
.marker-prev:hover, .marker-next:hover {
    text-shadow: 0px 0px 5px #0df;
}
.marker-pos {
    margin-left: 15px;
}
.marker-pos, .marker-divide, .marker-total {
    padding: 12px 0px;
    width: 20px;
}

.header .btn {
    width: 16px;
    margin: 10px;
    padding: 2px;
    font-size: 12px;
}
.btn-false {
    color: #eee;
}
.btn-false:hover {
    cursor: pointer;
    color: #fff;
    text-shadow: 0px 0px 5px #0df;
}
.btn-true {
    color: #8df;
}

.pattern-nosync {
    position: absolute;
    width: 16px;
    margin: 10px;
    padding: 2px;
    top: 0px;
    right: 0px;
    font-size: 12px;
}
.pattern-plus {
    position: absolute;
    top: 0px;
    right: 30px;
}
.pattern-plus:hover {
    color: #fff;
    text-shadow: 0px 0px 10px #0df;
}
.pattern-minus {
    position: absolute;
    top: 0px;
    right: 60px;
}
.pattern-minus:hover {
    color: #fff;
    text-shadow: 0px 0px 10px #0df;
}



/* Sequencer */

.sequencer-table {
    position: absolute;
    margin: 0px 7px;
    padding: 0px;
    top: 45px;
    left: 0px;
    width: 896px;
    height: 262px;
    /* height: 524px; */
    overflow-y: scroll;

    transition: all 0.2s ease 0s;
}
.table {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 50px;
    overflow-y: hidden;
}
.table-hover {
    z-index: 100;
}
.table-on {
    z-index: 10;
}
.table-off {
    z-index: 1;
}
.keyboard {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 2px;
    left: 0px;
}
.btn-fold-core {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 5px 5px 5px;
    min-width: 20px;
    min-height: 20px;
    font-size: 20px;
    text-align: center;
    z-index: 10;
    color: #0df;
    background-color: #fff;
}
.btn-fold-core:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #0ae;
}



/* Footer */

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
}
#control {
    position: absolute;
    width: 400px;
    height: 20px;
    top: 50%;
    right: 50%;
    margin-top: -20px;
    margin-right: 190px;

    text-align: right;
    font-size: 16px;
    color: #0df;
}
#control > input, #control > select {
    margin-right: 10px;
}
#control-play {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: 0px;
    padding:0px;
    margin-left: -35px;
    margin-top: -30px;
    font-size:40px;
    text-align: center;
    color: #8df;
}
#control-forward {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: 0px;
    padding:0px;
    margin-left: 65px;
    margin-top: -30px;
    font-size:40px;
    text-align: center;
    color: #8df;
}
#control-backward {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 50%;
    margin: 0px;
    padding:0px;
    margin-right: 100px;
    margin-top: -30px;
    font-size:40px;
    text-align: center;
    color: #8df;
}
#control-loop {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: 0px;
    padding:0px;
    margin-left: 180px;
    margin-top: -25px;
    font-size: 30px;
    text-align: center;
}
#control-play:hover, #control-forward:hover, #control-backward:hover, #control-loop:hover {
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0px 0px 9px rgba(100, 255, 255, 0.8), 0px 0px 10px rgba(0, 200, 255, 1.0);
}
#control-play:active, #control-forward:active, #control-backward:active, #control-loop:active {
    color: #8df;
    text-shadow: none;
}
.control-on {
    color: #8df;
    text-shadow: none;
}
.control-off {
    color: #ddd;
    text-shadow: none;
}
#song-info {
    position: absolute;
    width: 300px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: 160px;
    text-align: right;
    font-size: 16px;
    color: #0df;
}
#song-info label {
    width: 80px;
    margin-right: 10px;
    font-size: 16px
}
#song-info input {
    outline: none;
    border: none;
    width: 140px;
    text-align: left;
    color: #0df;
    font-size: 12px;
}




/* Synthesizer */

.synth-core {
    position: absolute;
    /* top: 300px; */
    bottom: 0px;
    width: 100%;
    height: 280px;
    left: 0px;
    transition: all 0.2s ease 0s;
}

.RS_module {
    color: #0df;
    background-color: #fff;
    margin: 0px 10px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    line-height: 26px;

    border: 1px solid #0df;
    border-radius: 3px;
}

legend {
    font-size:12px;
}

.clearfix :after {
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}

.RS_vco0 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 140px;
}
.RS_vco1 {
    position: absolute;
    top: 0px;
    left: 140px;
    width: 130px;
    height: 140px;
}
.RS_vco2 {
    display: none;
}
.RS_VCO > div {
    margin: 0px 15px;
}
.RS_VCO label {
    float: left;
    width: 35px;
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}
.RS_VCO select {
    float: right;
    width: 55px;
    font-size: 10px;
    text-align: left;
    margin-top: 4px;
}
.RS_VCO input {
    float: right;
    width: 50px;
    font-size: 10px;
    text-align: center;
    margin-top: 4px;
}

.RS_mixer {
    position: absolute;
    top:140px;
    left:0px;
    width:270px;
    height: 128px;
    padding-top: 2px;
}
.RS_mixer > div {
    margin: 4px 20px;
}
.RS_mixer label {
    float: left;
    width: 35px;
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}
.RS_mixer input {
    float: right;
    width: 170px;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
}

.RS_EG {
    position: absolute;
    top:0px;
    left:280px;
    width:220px;
    height: 270px;
}
.RS_EG  canvas {
    margin:11px;
    padding-top:30px;
    padding-bottom:2px;
    width: 180px;
    height: 50px;
    border-left:1px solid #0df;
    border-bottom: 1px solid #0df;
}
.RS_EG > div {
    margin: 4px 20px 4px 15px;
}
.RS_EG label {
    float: left;
    width: 50px;
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}
.RS_EG input {
    float: right;
    width: 120px;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
}

.RS_FEG {
    position: absolute;
    top:0px;
    left:670px;
    width:220px;
    height: 270px;
}
.RS_FEG  canvas {
    margin:11px;
    padding-top:30px;
    padding-bottom:2px;
    width: 180px;
    height: 50px;
    border-left:1px solid #0df;
    border-bottom: 1px solid #0df;
}
.RS_FEG > div {
    margin: 4px 20px 4px 15px;
}
.RS_FEG label {
    float: left;
    width: 50px;
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}
.RS_FEG input {
    float: right;
    width: 120px;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
}

.RS_filter {
    position: absolute;
    top: 0px;
    left: 510px;
    width: 150px;
    height: 270px;
}
.RS_filter_freq {
    float: left;
    text-align: center;
    left: 0px;
    margin: 0px 10px;
    width: 60px;
}
.RS_filter_Q {
    float: left;
    text-align: center;
    width: 60px;
    margin: 0px;
}
.filter_slider {
    width: 60px;
    height: 195px;
    margin-top: 7px;
    -webkit-appearance: slider-vertical;
}



/* Sampler */

.sampler .sequencer-table {
    position: absolute;
    margin: 0px 7px;
    padding: 0px;
    top: 45px;
    left: 0px;
    width: 896px;
    height: 262px;
    transition: all 0.2s ease 0s;
}
.sampler .table {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 50px;
    overflow-y: hidden;
}
.table-hover {
    z-index: 100;
}
.sampler .table-on {
    z-index: 10;
}
.sampler .table-off {
    z-index: 1;
}
.sampler .keyboard {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 2px;
    left: 0px;
}

.sampler-core {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 280px;
    left: 0px;
    transition: all 0.2s ease 0s;
}

.Sampler_module {
    color: #f0d;
    background-color: #fff;
    margin: 0px 10px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    line-height: 26px;

    border: 1px solid #f0d;
    border-radius: 3px;
}
legend {
    font-size:12px;
}
.Sampler_sample {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 470px;
    height: 270px;
}
.Sampler_sample > .wave {
    width: 400px;
    height: 130px;
    margin: 0px 15px 25px 15px;
}
.Sampler_sample .file-select {
    float: left;
    width: 90px;
    height: 100px;
    margin: 0px;
    text-align: left;
}
.Sampler_sample .file-select > label {
    left: 0px;
    width: 80px;
    font-size: 12px;
    text-align: left;
}
.Sampler_sample .file-select > select {
    left: 0px;
    width: 80px;
    margin-right: 10px;
    font-size: 12px;
    text-align: left;
}
.Sampler_sample .waveform {
    float: left;
    width: 300px;
    height: 120px;
    border-left: 1px solid #f0d;
    border-bottom: 1px solid #f0d;
    margin: 4px 0px 4px 9px;
}

.Sampler_sample > .param {
    width: 400px;
    margin: 15px;
}
.Sampler_sample > .param label {
    float: left;
    width: 80px;
    /* padding-right: 5px; */
    font-size: 12px;
    text-align: center;
}
.Sampler_sample > .param input {
    float: right;
    width: 290px;
    font-size: 10px;
    text-align: center;
    margin-top: 4px;
}

.Sampler_EQ {
    position: absolute;
    top: 0px;
    left: 480px;
    width: 300px;
    height: 270px;
    border: 1px solid #f0d;
    text-align: center;
    color: #f0d;
}
.Sampler_EQ > .canvasEQ {
    float: left;
    width: 270px;
    height: 100px;
    margin: 10px;
}
.Sampler_EQ > .EQ-sliders {
    top: 120px;
    width: 270px;
    height: 150px;
    margin: 0px 15px;
}
.Sampler_EQ .EQ-slider {
    float: left;
    width: 90px;
    height: 100px;
    text-align: center;
}
.Sampler_EQ .EQ-slider > label {
    width: 90px;
    height: 20px;
    text-align: center;
    margin: 0px;
    margin-left: -5px;
}
.Sampler_EQ .EQ-slider > .gain-slider {
    width: 80px;
    height: 80px;
    margin: 0px;
}

.Sampler_output {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 270px;
    border: 1px solid #f0d;
    text-align: center;
    color: #f0d;
}
.Sampler_output > .gain-slider {
    height: 180px;
}




#templates {
    display: none;
}