* {
    font-size:10px;
    -webkit-user-select:none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#social {
    position: absolute;
    text-align: right;
    top:-30px;
    right:0px;
}
.social {
    float: left;
}



/* Wrapper */

#wrapper {
}
#mixer {
    position: absolute;
    width: 910px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    top: 50%;
    left: 50%;
    margin-top: -1000px;
    margin-left: -470px;
    overflow-y: hidden;

    background-color: #fff;
    border: 1px solid #0df;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    transition: all 0.2s ease 0s;
}
#instruments {
    position: absolute;

    width: 800000px;
    max-height: 600px;
    margin: 0px;
    padding: 0px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -470px;
    overflow-y: hidden;

    transition: all 0.2s ease 0s;
}
.instrument {
    position: relative;
    display: block;
    float: left;

    width: 910px;
    height: 590px;
    margin: 0px;
    padding: 0px;
    margin-right: 130px;

    background-color: #fff;
    border: 1px solid #0df;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#btn-right {
    position: fixed;
    width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: 450px;

    text-align: left;
    padding: 250px 150px;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;
}
#btn-left {
    display: none;

    position: fixed;
    width: 800px;
    height: 600px;
    top: 50%;
    right: 50%;
    margin-top: -300px;
    margin-right: 480px;

    text-align: right;
    padding: 250px 150px;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        right top,
        left top,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;
}
#btn-top {
    position: fixed;
    width: 100%;
    height: 600px;
    top: 0px;
    left: -10px;

    text-align: center;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;
}
#btn-bottom {
    display: none;

    position: fixed;
    width: 100%;
    height: 600px;
    left: -10px;
    bottom: 0px;

    text-align: center;
    padding: 0px;
    font-size: 100px;

    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255,255,255,0)),
        color-stop(0.5, rgba(255,255,255,0.9)),
        to(rgba(255,255,255,1.0))
    );
    color: #fafafa;
}
#btn-right:hover, #btn-left:hover, #btn-top:hover, #btn-bottom:hover {
    cursor: default;
    color: #def;
}


/* Sequencer */

.sequencer-table {
    display: block;
    position: absolute;
    margin: 5px;
    padding: 0;
    top: 0px;
    left: 62px;
    width: 834px;
    height: 320px;
    overflow: hidden;
}
.table {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    min-width: 8000px;
    height: 320px;
    overflow-y: hidden;
}
.indicator {
    display: none;
    position: absolute;
    float: left;
    width: 24px;
    height: 261px;
    top: 39px;

    background-color: #dff;
    border: 1px solid #dFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    box-shadow: 0px 0px 5px #0FF;
}
.table .position {
    width: 775px;
    height: 25px;
    margin: 0px;
    padding: 5px 55px 5px 0px;
    color: #bbefff;
    font-size: 16px;
    text-align: center;
}
.marker {
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    margin: 2px 5px;
    color: #8ef;
}
.marker:hover {
    cursor: pointer;
    text-shadow: 0px 0px 4px #088;
}
.marker {
    color: #8ef;
    text-align: center;
}
.marker-now {
    color: #fff;
    text-shadow: 0px 0px 10px #0df;
}
.marker-now:hover {
    cursor: default;
    text-shadow: 0px 0px 10px #0df;
}

.pattern-plus {
    position: absolute;
    width: 25px;
    margin: 5px;
    top: 0px;
    left: 800px;
    color: #8ef;
    font-size: 25px;
    z-index: 2;
}
.pattern-plus:hover {
    color: #fff;
    text-shadow: 0px 0px 10px #0df;
}
.pattern-minus {
    position: absolute;
    width: 25px;
    margin: 5px;
    top: 0px;
    left: 770px;
    color: #8ef;
    font-size: 25px;
    z-index: 2;
}
.pattern-minus:hover {
    color: #fff;
    text-shadow: 0px 0px 10px #0df;
}


.table > thead > tr.header {
  margin:0px;
  padding:0px;
  max-height:35px;
  width: 8000px;
}
tr {
  display:block;
  margin:0px;
  padding:0px;
  /* min-width: 700px; */
  min-width: 8000px;
  min-height: 20px;
  max-height:26px;
  overflow-y: hidden;
  width: 840px;
}
td {
  display: block;
  float: left;
  font-size: 0px;
  margin: 2px 4px 2px 0px;
  padding: 0px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;

      background:-moz-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -moz-linear-gradient(
        rgba(230,230,230,0.5),
        rgba(230,230,230,1)
    );
    background:-webkit-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -webkit-gradient(
        linear,
        100% 0%,
        100% 100%,
        from(rgba(230,230,230,0.5)),
        to(rgba(230,230,230,1))
    );

    border:1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    box-shadow:1px 1px 2px rgba(0,0,0,0.3),
    0px 1px 0px rgba(255,255,255,0.8) inset,
    0px -1px 0px rgba(255,255,255,0.3) inset;
}
td:hover {
    box-shadow:0px 0px 5px rgb(0,255,255);
}
.on {
    background:-moz-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -moz-linear-gradient(
        rgba(128,160,255,0.5),
        rgba(128,160,255,1)
    );
    background:-webkit-radial-gradient(
        center -20%,
        circle,
        rgba(255,255,255,0.8),
        rgba(255,255,255,0.3) 58%,
        rgba(255,255,255,0) 60%
    ),
    -webkit-gradient(
        linear,
        100% 0%,
        100% 100%,
        from(rgba(128,192,255,0.5)),
        to(rgba(128,192,255,1))
    );

    border:1px solid #9ff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    box-shadow:1px 1px 2px rgba(0,0,0,0.3),
               0px 1px 0px rgba(255,255,255,0.8) inset,
               0px -1px 0px rgba(255,255,255,0.3) inset;
}



/* Footer */

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#control {
    position: absolute;
    width: 400px;
    height: 20px;
    top: 50%;
    right: 50%;
    margin-top: -20px;
    margin-right: 190px;

    text-align: right;
    font-size: 16px;
    color: #0df;
}
#control > input, #control > select {
    margin-right: 10px;
}
#control-play {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: 0px;
    padding:0px;
    margin-left: -35px;
    margin-top: -30px;
    font-size:40px;
    text-align: center;
    color: #8ef;
}
#control-forward {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: 0px;
    padding:0px;
    margin-left: 65px;
    margin-top: -30px;
    font-size:40px;
    text-align: center;
    color: #8ef;
}
#control-backward {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 50%;
    margin: 0px;
    padding:0px;
    margin-right: 100px;
    margin-top: -30px;
    font-size:40px;
    text-align: center;
    color: #8ef;
}
#control-loop {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: 0px;
    padding:0px;
    margin-left: 180px;
    margin-top: -25px;
    font-size: 30px;
    text-align: center;
}
#control-play:hover, #control-forward:hover, #control-backward:hover, #control-loop:hover {
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0px 0px 9px rgba(100, 255, 255, 0.8), 0px 0px 10px rgba(0, 200, 255, 1.0);
}
#control-play:active, #control-forward:active, #control-backward:active, #control-loop:active {
    color: #8ef;
    text-shadow: none;
}
.control-on {
    color: #8ef;
    text-shadow: none;
}
.control-off {
    color: #ddd;
    text-shadow: none;
}


#btn-save {
    position: fixed;
    bottom: 20px;
    right: 20px;
}



.core {
    position: absolute;
    top: 300px;
    left: 0px;
}



/* Synthesizer */

.RS_module {
    color: #0df;
    background-color: #fff;
    margin: 10px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    line-height: 26px;

    border: 1px solid #0df;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

legend {
    font-size:12px;
}

.clearfix :after {
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}

.RS_vco0 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 140px;
}
.RS_vco1 {
    position: absolute;
    top: 0px;
    left: 140px;
    width: 130px;
    height: 140px;
}
.RS_vco2 {
    display: none;
}
.RS_mixer {
    position: absolute;
    top:140px;
    left:0px;
    width:270px;
    height: 130px;
}
.RS_filter {
    position: absolute;
    top: 0px;
    left: 510px;
    max-width: 130px;
    height: 270px;
}
.RS_EG {
    position: absolute;
    top:0px;
    left:280px;
    width:220px;
    height: 270px;
}
.RS_EG  canvas {
    margin:10px;
    padding-top:20px;
    width: 180px;
    height: 50px;
    border-left:1px solid #0df;
    border-bottom: 1px solid #0df;
}
.RS_FEG {
    position: absolute;
    top:0px;
    left:670px;
    width:220px;
    height: 270px;
}
.RS_FEG  canvas {
    margin:10px;
    padding-top:20px;
    width: 180px;
    height: 50px;
    border-left:1px solid #0df;
    border-bottom: 1px solid #0df;
}

.RS_filter_freq {
    float: left;
    text-align: center;
    left: 0px;
    margin:0 5%;
    width:40%;
}
.RS_filter_Q {
    float: left;
    text-align: center;
    top: 0px;
    width:50%;
    margin: 0;
}

.filter_slider {
    width: 200px;
    height: 70px;
    margin-top: 13px;
    margin-left: -50px;
    -webkit-transform-origin: 60% 100%;
    -webkit-transform: rotate(270deg);
}


#templates {
    display: none;
}