/* Mixer Panel styles */

.consoleTracks {
  position: absolute;
  width: 100%;
  height: 163px;
  bottom: 0px;
  left: 0px;
  border-bottom: 0px;
  overflow: visible;
}

.consoleMaster {
  position: absolute;
  width: 100%;
  height: 171px;
  bottom: 0px;
}

.consoleTrack {
  float: left;
  position: relative;
  width: 69px;
  height: 163px;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid #0df;
  text-align: center;
  color: #0df;
}

.consoleTracks > .consoleTrack:first-child {
  margin-left: 0px;
  border-radius: 0px 0px 0px 2px / 0px 0px 0px 2px;
}

.consoleMaster .consoleTrack {
  float: none;
  bottom: 0px;
  right: 0px;
  width: 90px;
  height: 169px;
  margin: 0px 9px;
  border: 1px solid #0df;
  text-align: center;
  background-color: #fff;
  border-radius: 0px 0px 3px 3px / 0px 0px 3px 3px;
}

.consoleTrack div {
  float: none;
  width: 100%;
  height: 12px;
  margin: 4px auto;
  text-align: center;
}

.panSlider {
  width: 60px;
  height: 20px;
  margin-left: 5px;
  z-index: 2;
}

.gainSliderTracks {
  position: absolute;
  width: 25px;
  height: 100px;
  top: 45px;
  right: 0px;
  margin: 10px;
  -webkit-appearance: slider-vertical;
  z-index: 2;
}

.gainSliderMaster {
  position: absolute;
  width: 30px;
  height: 130px;
  top: 15px;
  left: 50%;
  margin: 10px;
  margin-left: -15px;
  -webkit-appearance: slider-vertical;
  z-index: 2;
}

.vuMeterTracks {
  position: absolute;
  top: 55px;
  left: 15px;
  width: 10px;
  height: 100px;
  z-index: 0;
  background-color: #f6f6f6;
}

.vuMeterMaster {
  position: absolute;
  top: 25px;
  left: 50%;
  width: 60px;
  height: 130px;
  margin-left: -30px;
  z-index: 0;
}

.gainSlider:focus {
  outline: none;
}
